<form id="usuario">
    <div class="row">
        <div class="col-sm-4">
            <label>Usuario:</label>
            <div>
                <input type="text" class="text" id="USU_IDUSUARIO" name="USU_IDUSUARIO" required>
            </div>
        </div>
        <div class="col-sm-4">
            <label>Contraseña:</label>
            <div>
                <input type="text" class="text" id="USU_PASS" name="USU_PASS" required>
            </div>
        </div>
        <div class="col-sm-2">
            <label>Status:</label>
            <div>
                <select  id="USU_STATUS" class="text" name="USU_STATUS">
                    <option class="1">Activo</option>
                    <option class="2">Inactivo</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <label>Sesion:</label>
            <div>
                <select  id="USU_SESION" class="text" name="USU_SESION">
                    <option class="1">Activo</option>
                    <option class="2">Inactivo</option>
                </select>
            </div>
        </div>
    </div>
    <br>
<div class="row pull-right">
    <div class="col-sm-12">
        <button type="button" class="cancelar">Cancelar <span class="cancelar"></span></button>
        <button type="button" class="guardar">Guardar <span class="guardar"></span></button>
    </div>
</div>

</form>

<script src="@routes.Assets.versioned("javascripts/util.js")" type="text/javascript"></script>