
<br>
<form id="persona">
		<div class="row">
			<div class="col-sm-4">
				<label>Nombre:</label>
				<div>
					<input type="text" class="text" id="PER_NOMBRE" name="PER_NOMBRE" required>
				</div>
			</div>
			<div class="col-sm-4">
				<label>Apellido paterno:</label>
				<div>
					<input type="text" class="text" id="PER_APAT" name="PER_APAT" required>
				</div>
			</div>
			<div class="col-sm-4">
				<label>Apellido materno:</label>
				<div>
					<input type="text" class="text" id="PER_AMAT" name="PER_AMAT" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label>Genero:</label>
				<div>
					<select class="text" id="PER_GENERO" name="PER_GENERO">
						<option value="H">Hombre</option>
						<option value="M">Mujer</option>
					</select>
				</div>
			</div>
			<div class="col-sm-2">
				<label>Telefono:</label>
				<div>
					<input type="text" class="text" id="PER_TELEFONO" name="PER_TELEFONO" required>
				</div>
			</div>

			<div class="col-sm-4">
				<label>Email:</label>
				<div>
					<input type="text" class="text" id="PER_EMAIL" name="PER_EMAIL" required>
				</div>
			</div>
			<div class="col-sm-2">
				<label>Direccion:</label>
				<div>
					<input type="text" class="text" id="PER_DIRECCION" name="PER_DIRECCION" required>
				</div>
			</div>
			<div class="col-sm-2">
				<label>Tipo usuario:</label>
				<div>
					<select class="text" id="PER_TIPOUSUARIO" name="PER_TIPOUSUARIO">
						<option value="Cliente">Cliente</option>
						<option value="Vendedor">Vendedor</option>
						<option value="Usuario">Usuario</option>
					</select>
				</div>
			</div>
		</div>
</form>
<script src="@routes.Assets.versioned("javascripts/util.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/persona.js")" type="text/javascript"></script>