<form id="usuario">
    <div class="row">
        <div class="col-sm-4">
            <label>Codigo:</label>
            <div>
                <input type="text" class="text" id="VEN_CODIGO;" name="VEN_CODIGO;" required>
            </div>
        </div>
        <div class="col-sm-4">
            <label>Turno:</label>
            <div>
                <input type="text" class="text" id="VEN_TURNO;" name="VEN_TURNO;" required>
            </div>
        </div>
        <div class="col-sm-4">
            <label>Fecha Nacimiento:</label>
            <div>
                <input type="date" class="text" id="VEN_FECHANACIMIENTO;" name="VEN_FECHANACIMIENTO;" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="VEN_FOTO">Foto de perfil</label>
                <input type="file" class="form-control-file" id="VEN_FOTO" name="VEN_FOTO">
            </div>
        </div>
    </div>
</form>



<script src="@routes.Assets.versioned("javascripts/util.js")" type="text/javascript"></script>
