<div id="venta">
    <div class="row">
       <!-- <div class="col-sm-4">
            <label>Usuario:</label>
            <div>
                <input type="text" class="text" id="USU_IDUSUARIO" name="USU_IDUSUARIO" required>
            </div>
        </div>
		-->
		<div class="col-sm-7">
			<div class="row">
				<div class="form-check col-sm-6 center">
					<label class="form-check-label">
					<input type="radio" class="form-check-input" name="optradio">Lector de codigo de barras
					</label>
				</div>
				<div class="form-check col-sm-6 center">
					<label class="form-check-label">
					<input type="radio" class="form-check-input" name="optradio">Introduccion codigo manual.
					</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-group mb-3">
				  <input type="search" class="form-control" placeholder="Search" id="PRO_CODIGOBARRA">
				  <div class="input-group-append">
					<button class="btn btn-success" id="btnCODIGOBARRA">Añadir cesta <span class="fa fa-shopping-cart"></span></button>
				  </div>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<table id="cesta" class="table table-bordered table-striped">
					<thead>
					  <tr>
						<th class="text-center" style="width: 50px;">Codigo</th>
						<th> Nombre del producto </th>
						<th> Precio </th>
						<th class="text-center cantida" style="width: 15%;"> Cantidad</th>
						<th class="text-center" style="width: 15%;"> Total </th>
						
						<th class="text-center" style="width: 100px;"> Acciones </th>
					 </tr>
					</thead>
				   <tbody>
						
						
						
					</tbody>
				 </table>
			</div>
			 
		</div>
		
		<div class="col-sm-5">
			<div class="col-sm-12">
			<!--
				<button class="form-control btn btn-success" id="anidirCesta">Añadir cesta <span class="fa fa-shopping-cart"></span></button>
				-->
				<label>Recibio:</label>
				  
				<div class="input-group mb-3">
				  
				  <input type="text" class="form-control" placeholder="Recibio" id="recibio">
				  <div class="input-group-append">
					<button class="btn btn-primary" id="Cobrar">Cobrar<span class="fa fa-dollar-sign"></span></button>
				  </div>
				</div>
		
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="col-sm-12">
					<h1>Total: $ <label id="total">0</label></h1>
				</div>
				<div class="col-sm-12">
					<h1 style="color:red;">Cambio: $ <label id="cambio">0</label></h1>
				</div>
				<div class="btn-group">
				  <button type="button" class="form-control btn btn-primary" id="vaciarCesta">Vaciar cesta <span class="cart-arrow-down"></span></button>
				  <button type="button" class="form-control btn btn-primary" id="Devolucion">Devolucion o cambio <span class="fa fa-cash-register"></span></button>
				</div>
				
			</div>
		</div>

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cobrar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
		<label>compra:</label>
		<input text="text" id="compra" class="form-control" readonly/>
		<label>Recibio:</label>
		<input text="text" id="recibio" class="form-control"/>
		
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script src="@routes.Assets.versioned("javascripts/util.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/venta.js")" type="text/javascript"></script>
